/* css variables */
body {
  background: linear-gradient(172.57deg, #2e335a 2.07%, #1c1b33 95.04%);
}
body .container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border-radius: 8px;
  background: linear-gradient(172.57deg, #2e335a 2.07%, #1c1b33 95.04%);
  box-shadow: -40px 60px 150px rgba(59, 38, 123, 0.25);
}
body .container .card-full-length {
  grid-column: 1/3;
}
body .container .card {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #ffffff;
  padding: 1rem;
  border-radius: 16px;
  background: #2e335a;
  border: 0.5px solid #628ad8;
}
body .container .card .card-header .card-header-icon {
  height: 18px;
  color: #ffffff;
  opacity: 0.6;
}
body .container .card .card-header .card-header-title {
  opacity: 0.6;
}
body .container .card .card-body .card-body-content {
  font-weight: 400;
  font-size: 30px;
  height: 72px;
}
body .container .card .card-body .card-body-content2 {
  color: rgba(255, 255, 255, 0.6);
}
body .container .card .card-body .progressbar {
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 25px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
body .container .card .card-body .progressbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: #000000;
  background: white;
  box-shadow: 0px 0px 10px 5px #ffffff;
}

.card2 {
  color: #ffffff;
  padding: 1rem;
  background: #2e335a;
}
.card2 .card2-rectangle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: auto;
  height: 185px;
  left: 25px;
  top: 25px;
  border-top: 30px solid transparent;
  border-left: 180px solid #66b2ff;
  border-radius: 50px;
}
.card2 .card2-rectangle .card2-temperature {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
}
.card2 .card2-rectangle .card2-max-min-temperature {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.card2 .card2-rectangle .card2-location {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.card2 .card2-rectangle .card2-details {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

body {
  background: linear-gradient(172.57deg, #2E335A 2.07%, #1C1B33 95.04%);
  box-shadow: -40px 60px 150px rgba(59, 38, 123, 0.25);
}

.Homepage_top_weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Weather_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.Weather_degree {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 275;
  font-size: 60px;
  line-height: 75px;
  color: #FFFFFF;
}

.Weather_status {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
}

.Weather_status_H {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.Weather_status_L {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.forecast_labels {
  display: flex;
  justify-content: space-between;
  background: green;
  padding: 28px 36px;
  border-radius: 45px 45px 0 0;
  background: linear-gradient(172.57deg, #CBDDF6 2.07%, #CBDDF6 95.04%);
  border-bottom: 2px solid #5189DC;
}

.forecast_label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  /* color: rgba(255, 255, 255, 0.6); */
}

.Parent {
  display: flex;
  background: linear-gradient(172.57deg, #A7CAFF 82.07%, #A7CAFF 95.04%);
  box-shadow: -40px 60px 150px rgba(59, 38, 123, 0.25);
  justify-content: center;
}

.Card_Hourly_ForeCast {
  background: rgba(72, 49, 157, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25), inset 1px 1px 0px #FFFFFF;
  border-radius: 30px;
  width: 60px; /* explicit width */
  margin: 5px;
}

.item_1 {
  background: #48319D !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
}

.Inner_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Weather_item {
  margin-bottom: 20px;
}

.weather_item_time {
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.weather_item_percentage {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #40CBD8;
}

.weather_item_degree {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
}

.house {
  text-align: center;
}

.toggle {
  opacity: 0;
  visibility: hidden;
  opacity: 500ms linear;
  visibility: 0s linear 500ms;
}

.toggle--show {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  opacity: 500ms linear;
  visibility: 0s linear 500ms;
}

.weather-component__search-bar {
  outline: none;
  padding: 0.3em 1em;
  background: rgba(124, 124, 124, 0.168627451);
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  color: white;
  caret-color: white;
  position: relative;
}

.weather-component__button {
  margin: 0.5em;
  /* margin-left: -3.2rem; */
  margin-right: -3.2rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  /* icon css */
  display: flex; /* icon centering */
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}

input {
  border-radius: 8px;
}

input::placeholder {
  color: white;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
}

img, svg {
  vertical-align: middle;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}