$font-stack: Helvetica, sans-serif;

/* css variables */
$mild-text-color: #ffffff99;
$bright-text-color: #ffffff;
$card-bg-color: #2e335a;
$card-border-color: #ffffff;

.container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 25px;
  // Check gap
}

.card-full-length {
  grid-column: 1/3;
  // Check Width
}
.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $bright-text-color;
  padding: 1rem;
  background: $card-bg-color;
  border: 0.5px solid $card-border-color;
  border-radius: 16px;
}

.card-header-icon {
  height: 18px;
  color: $bright-text-color;
  opacity:0.6;
}
.card-header-title{
  opacity: 0.6;
}

.card2 {
  position: relative;
  color: $bright-text-color;
  padding: 1rem;
  background: $card-bg-color;
}

.card2-rectangle {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 338px;
  height: 185px;
  left: 25px;
  top: 25px;
  background: linear-gradient(90.46deg, #5936b4 0.46%, #362a84 99.68%);
}

.card2-temperature {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
}

.card2-max-min-temperature {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: $mild-text-color;
}

.card2-location {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.card2-details {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}


/* progress bar related Css */
#progressbarcontainer{
  position: relative;
  margin: 2% 15%;
  width: 70%;
  height: 3px;
  /*border: 1px solid; */
  border-radius: 0;
  background-color: rgba(216, 64, 210, 1);
  padding: 1px;
  box-shadow: 0 0 10px #153687;
  cursor: pointer;
  /* border -radius */
  border-radius: 8px;
}
#divtext{
  position: relative;
  margin: 5% 15% 0% 15%;
  width: 70%;
  color: #000000;
  -webkit-transition: color .5s; 
  transition: color .5s;
}
#progressbar{
  position: relative;
  z-index: 1;
  width: 0%;
  left:0;
  height: 100%;
  background-color: rgba(64, 203, 216, 1);
  -webkit-transition: width .5s; 
  transition: width .5s;
 /* box-shadow: 0 0 10px #153687;*/  
 /* border radius */
 border-radius: 8px;
}



//Rectangle cut & Positioning cloud, midrain and rectangle is leftover
