/* css variables */
body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 30px;
}

button {
  color: green;
  outline: tomato;
}

.card {
  color: #FFFFFF;
  padding: 1rem;
  background: #2E335A;
  border: 0.5px solid #FFFFFF;
  border-radius: 16px;
}

.card-header {
  display: flex;
}

.card-body {
  display: flex;
  flex-direction: column;
}