$font-stack: Helvetica, sans-serif;

@import "./mixins";

/* css variables */
$mild-text-color: #ffffff99;
$bright-text-color: #ffffff;
$card-bg-color: #2e335a;
$card-border-color: #ffffff;

body {
  background: linear-gradient(172.57deg, #2e335a 2.07%, #1c1b33 95.04%);
  .container {
    display: grid;
    grid-template-columns: auto auto;
    // Check Width
    align-items: center;
    justify-content: center;
    gap: 25px;
    // Check gap
    border-radius: 8px;
    background: linear-gradient(172.57deg, #2e335a 2.07%, #1c1b33 95.04%);
    box-shadow: -40px 60px 150px rgba(59, 38, 123, 0.25);
    .card-full-length {
      grid-column: 1/3;
    }

    .card {
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: $bright-text-color;
      padding: 1rem;
      // background: $card-bg-color;
      // border: 0.5px solid $card-border-color;
      border-radius: 16px;
      background: #2e335a;
      border: 0.5px solid #628ad8;
      .card-header {
        .card-header-icon {
          height: 18px;
          color: $bright-text-color;
          opacity: 0.6;
        }
        .card-header-title {
          opacity: 0.6;
        }
      }
      .card-body {
        .card-body-content {
          font-weight: 400;
          font-size: 30px;
          // line-height: 36px;
          height: 72px;
        }
        .card-body-content2 {
          color: $mild-text-color;
        }
        .progressbar {
          height: 10px;
          width: 100%;
          -webkit-appearance: none;
          border-radius: 25px;
          background-image: linear-gradient(
            to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red
          );
        }
        .progressbar::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          border: #000000;
          background: white;
          box-shadow: 0px 0px 10px 5px #ffffff;
        }
      }
    }
  }
}

.card2 {
  // position: relative;
  color: $bright-text-color;
  padding: 1rem;
  background: $card-bg-color;

  .card2-rectangle {
    // position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: auto;
    height: 185px;
    left: 25px;
    top: 25px;
    // background: linear-gradient(90.46deg, #5936b4 0.46%, #362a84 99.68%);

    border-top: 30px solid transparent;
    border-left: 180px solid #66b2ff;
    border-radius: 50px;
    .card2-temperature {
      font-family: "Livvic";
      font-style: normal;
      font-weight: 400;
      font-size: 60px;
      line-height: 75px;
    }

    .card2-max-min-temperature {
      font-family: "Lato";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;

      color: $mild-text-color;
    }

    .card2-location {
      font-family: "Lato";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
    }

    .card2-details {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

// Page 1 related styles
body {
  background: linear-gradient(172.57deg, #2e335a 2.07%, #1c1b33 95.04%);
  box-shadow: -40px 60px 150px rgba(59, 38, 123, 0.25);
}

.Homepage_top_weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Weather_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.Weather_degree {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 275;
  font-size: 60px;
  line-height: 75px;
  color: #ffffff;
}
.Weather_status {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
}
.Weather_status_H {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.Weather_status_L {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.forecast_labels {
  display: flex;
  justify-content: space-between;
  background: green;
  padding: 28px 36px;
  border-radius: 45px 45px 0 0;
  background: linear-gradient(172.57deg, #cbddf6 2.07%, #cbddf6 95.04%);
  border-bottom: 2px solid #5189dc;
}

.forecast_label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  /* color: rgba(255, 255, 255, 0.6); */
}

.Parent {
  display: flex;
  background: linear-gradient(172.57deg, #a7caff 82.07%, #a7caff 95.04%);
  box-shadow: -40px 60px 150px rgba(59, 38, 123, 0.25);
  justify-content: center;
}

.Card_Hourly_ForeCast {
  background: rgba(72, 49, 157, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25), inset 1px 1px 0px #ffffff;
  border-radius: 30px;
  width: 60px; /* explicit width */
  margin: 5px;
}

.item_1 {
  background: #48319d !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
}

.Inner_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.Weather_item {
  margin-bottom: 20px;
}
.weather_item_time {
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.weather_item_image {
}

.weather_item_percentage {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #40cbd8;
}


.weather_item_degree {
  @include font_group("Inter", 400, 17px, normal, 21px, #ffffff);
}


.house {
  text-align: center;
}
@mixin transition {
  opacity: 500ms linear;
  visibility: 0s linear 500ms;
}

.toggle {
  opacity: 0;
  visibility: hidden;
  // the normal box delays visibility transition so it doesn't hide until after the opacity transition is done
  @include transition;
}

.toggle--show {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  @include transition;
}
//Rectangle cut & Positioning cloud, midrain and rectangle is leftover

// search_bar css
.weather-component__search-bar {
  outline: none;
  padding: 0.3em 1em;
  background: #7c7c7c2b;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  color: white;
  caret-color: white;
  position: relative;
}
.weather-component__button {
  margin: 0.5em;
  /* margin-left: -3.2rem; */
  margin-right: -3.2rem;

  border-radius: 50%;
  border: none;
  // height: 20px;
  // width: 20px;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  /* icon css */
  display: flex; /* icon centering */
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}

input {
  border-radius: 8px;
}
input::placeholder {
  color: white;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: rgba(255, 255, 255, 0.6);
}

img,
svg {
  vertical-align: middle;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.fa-sun {
}

.fa-moon {
}
